@layer lobe-ui {
  .lobe-emoji-picker em-emoji-picker {
    --rgb-accent: var(--emoji-picker-rgb-accent, 0, 0, 0);
    --shadow: none;
    --rgb-background: var(--emoji-picker-rgb-background, 255, 255, 255);
    --border-radius: 0;
  }

  .lobe-emoji-picker-avatar {
    position: relative;
    transition: background 150ms var(--lobe-motion-ease-out);
  }

  .lobe-emoji-picker-avatar:hover {
    background: var(--lobe-color-fill-secondary) !important;
  }

  .lobe-emoji-picker-popover {
    overflow: hidden !important;
    padding: 0 !important;
  }

  .lobe-emoji-picker-positioner {
    width: fit-content !important;
  }

  .lobe-emoji-picker-tabs-root {
    width: auto !important;
  }

  .lobe-emoji-picker-tabs-list {
    gap: 8px !important;
    padding: 4px;
    box-shadow: none !important;
  }

  .lobe-emoji-picker-tabs-indicator {
    height: 3px !important;
    border-start-start-radius: 3px;
    border-start-end-radius: 3px;
  }

  .lobe-emoji-picker-tab {
    width: 32px;
    height: 32px !important;
    padding: 0 !important;
    border-radius: var(--lobe-border-radius) !important;

    transition: background-color 100ms ease-out !important;
  }

  .lobe-emoji-picker-tab:hover:not([data-disabled]) {
    background: var(--lobe-color-fill-tertiary) !important;
  }
}
