# Gitignore for LobeHub
################################################################

# general
.DS_Store
.idea
.vscode
.history
.temp
.env.local
venv
temp
tmp

# dependencies
node_modules
*.log
*.lock
package-lock.json

# ci
coverage
.coverage
.eslintcache
.stylelintcache

# production
dist
es
lib
logs
test-output

# umi
.umi
.umi-production
.umi-test
.dumi/tmp*

# husky
.husky/prepare-commit-msg

# misc
# add other ignore file below
bun.lockb
*.patch
./server


awesome.d.ts
awesome.js
brand.d.ts
brand.js
chat.d.ts
chat.js
mdx.d.ts
mdx.js
mobile.d.ts
mobile.js
storybook.d.ts
storybook.js
color.d.ts
color.js
icons.d.ts
icons.js
