@layer lobe-ui {
  .lobe-search-result-card {
    min-width: 160px;
    max-width: 160px;
    font-size: 12px;
    color: initial;
  }

  .lobe-search-result-card-url {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    text-overflow: ellipsis;
  }
}
