name: Release CI
on:
  push:
    branches:
      - master
      - alpha
      - beta
      - rc

permissions:
  id-token: write # Required for OIDC
  contents: write # Required for semantic-release to push tags and commits
  issues: write # Required for semantic-release to create issues
  pull-requests: write # Required for semantic-release to comment on PRs

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Install deps
        run: bun i

      - name: CI
        run: bun run ci

      - name: Test
        run: bun run test

      - name: Build
        run: bun run build

      - name: Release
        run: bun run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
